*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fdfdfd;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 2px 2px 8px #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    overflow: auto;
    display: flex;
    flex-direction: row;
    float: right;
}
nav ul li{
    list-style: none;
    margin: 25px 25px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(44, 44, 255);
    transition: 0.1s;
}
.home{
    width: 84%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    color: #242424;
    margin: auto;
}
.right img{
    width: 600px;
}

.left{
    padding: 60px;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.left h1{
    font-size: 50px;
    font-weight: bolder;
    line-height: 80px;
}
.left h1 span, .project span{
    color: rgb(85, 85, 255);
}
.left p{
    line-height: 45px;
    font-size: 20px;
}

.about{
    display: flex;
    width: 83%;
    height: max-content;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.about-main button, .skills-main button, .projects-main button, .passion-projects button, .passion-projects-2 button{
    font-size: 40px;
    color: rgb(85, 85, 255);
    text-align: center;
    padding: 14px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 4px solid rgb(98, 0, 255);
    font-weight: bolder;
}

.about .left-2 img{
    width: 500px;
}


.right-2{
    width: 47%;
    padding: 60px;
    line-height: 40px;
    font-size: 18px;
}

.right-2 span svg{
    margin: 15px;
}


.right-2 span a{
    text-decoration: none;
    color: black;
}


.home button{
    background-image: linear-gradient(to right,rgb(98, 0, 255), rgb(85, 85, 255));
    padding: 13px;
    width: 130px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(194, 194, 194);
}
.home button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.Skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.Skills img{
    width: 400px;
}


.skill{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: max-content;
    /* background: #ffffff;
    box-shadow: 2px 2px 10px rgb(211, 211, 211);
    border-radius: 20px; */
    justify-content: space-between;
    padding: 20px;
}
.text{
    width: 86%;
    padding: 10px;
    border-bottom: 4px solid rgb(98, 0, 255);
}
.percent{
    padding: 10px;
    width: 10%;
}

.text-2{
    width: 70%;
    padding: 10px;
    border-bottom: 4px solid rgb(98, 0, 255);
}

.text-3{
    width: 50%;
    padding: 10px;
    border-bottom: 4px solid rgb(98, 0, 255);
}

.text-4{
    width: 40%;
    padding: 10px;
    border-bottom: 4px solid rgb(98, 0, 255);
}

.projects{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.about-project{
    width: 500px;
    height:max-content;
    /* background: #242424; */
    border-radius: 30px;
    margin: 30px;
    color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-project h1{
    text-align: center;
    padding: 30px;
    line-height: 80px;
    font-size: 60px;
    
}
.about-project p{
    padding: 30px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.image{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: cornflowerblue; */
}

.image img{
    width: 400px;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
}


.image img:hover{
    width: 430px;
    transition: 1s;
    transform: translateY(-20%);
}
.passion-projects-2{
    display: none;
}

.passion-projects{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.passion-projects img{
    width: 350px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}



.project-card p{
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 2px 2px 10px rgb(114, 114, 114);
    border-radius: 20px;
    margin: 20px;

}

.project-card img:hover{
    width: 380px;
    transition: 1s;
}

.p-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact{
    width: 900px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
    display: flex;
    flex-direction: column;
    margin: auto;
}
.class{
    padding: 30px;
}

.contact input{
    padding: 13px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}
.contact textarea{
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

.contact textarea:focus{
    outline: none;
}




@media screen and (max-width: 600px) {
    .home{
        width: 98%;
        height: max-content;
        margin-top: -40px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .right img{
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left h1{
        font-size: 36px;
        font-weight: bold;
        line-height: 60px;
    }
    .left{
        padding: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    
    .about .left-2 img{
        width: 300px;
        margin: auto;
    }
    
    
    .right-2{
        width: 100%;
        padding: 20px;
        line-height: 40px;
     
    }
    
    .skill{
        display: flex;
        flex-direction: row;
        width: 300px;
        height: max-content;
        /* background: #ffffff;
        box-shadow: 2px 2px 10px rgb(211, 211, 211);
        border-radius: 20px; */
        justify-content: space-between;
        padding: 20px;
    }
    .Skills img{
        padding: 50px;
        width: 300px;
    }
    .projects-main{
       display: none;
    }
    .about-main button, .skills-main button, .projects-main button, .passion-projects button{
        font-size: 30px;
    }
    .passion-projects-2{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: max-content;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .passion-projects-2{
        display: block;
    }
    .passion-projects-2 img{
        width: 350px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .contact{
        max-width: 500px;
        height: 500px;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .contact textarea{
        border-radius: 10px;
        border: 2px solid black;
        color: black;
        width: 300px;
    }
    
}

@media screen and (max-width: 1300px) and (min-width: 601px) {
    .home{
        flex-wrap: wrap;
    }
    .right img{
        display: none;
    }
}
.books h1{
    text-align: center;
    margin-top: 50px;
}
.books p{
    text-align: center;
}
.books-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.b-card{
    width: 400px;
    height: 500px;

    margin: 30px;
    border-radius: 30px;
}
.b-card img{
    width: 360px;
    height: 500px;
    box-shadow: 2px 2px 10px rgb(160, 160, 160);
    border-radius: 20px;
}
.b-card .details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details a {
    margin-left: 10px;
}
.image-book img{
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow:  2px 2px 10px rgb(126, 126, 126);
}
.book_one{ 
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}
.description{
    width: 50%;
}
.description p{
    line-height: 35px;
    width: 90%;
}


@media screen  and (max-width: 1000px) {
    .description{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description h1{
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
}
